
<P>"CHOOSE YOUR WEAPON!"</P>

<form method="get">
  <button type="submit" name="move" value="stone" formaction="/result">stone</button>
  <button type="submit" name="move" value="paper" formaction="/result">paper</button>
  <button type="submit" name="move" value="scissors" formaction="/result">scissors</button>
</form>
