<P>"CHOOSE YOUR WEAPON!"</P>
<button type="button" name="rock">rock</button>
<button type="submit" form="nameform" value="paper">paper</button>
<button type="submit" form="nameform" value="scissors">scissors</button>