
<P>"CHOOSE YOUR WEAPON!"</P>

<form method="get">
  <button type="submit" name="namestone" value="Nadav" formaction="/result">htmlstone</button>
  <button type="submit" form="nameform" value="paper">paper</button>
  <button type="submit" form="nameform" value="scissors">scissors</button>
</form>
